
@import url('https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&display=swap');


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.matangi {
  font-family: "Matangi", sans-serif;
  font-optical-sizing: auto;
}