/* rgb არსებობს 16 მილიონი ფერი და ეგ არის ფერის მოდელი რომელიც იწყება წითელი მწვანე და ლურჯით */
#red {
    color: red;
}

#blue {
    color: green;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

#pink {
    color: pink;
}

#purple {
    color: purple;
}

#brown {
    color: brown;
}