/* ბრაუზერები ავტომატურად აყენებენ სტილებს HTML ელემენტებზე მაგალითად <ul>-ს აქვს padding და ასე შემდეგ */

/* CSS Reset code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* margin: 0; – ყველა ელემენტს უუქმდება გარე სივრცე */
/* padding: 0; – ყველა ელემენტს უუქმდება შიდა სივრცე */
/* box-sizing: border-box; – padding და border შედის width-ის და height-ის შიგნით ამიტომ ეს პრობლემის გარეშე გამართავს */

