h1, h2 {
            color: aqua;
            text-align: center;
            background-color: purple;
            border-radius: 20px;
            border-color: purple;
            border-width: 20px;
            border-style: solid;
        }

        button {
            color: red;
            background-color: purple;
        }

       p {
            font-size: x-large;
        }